
    @media (max-width: 600px) {
      .navigation {
        display: none;
      }
      .drawer-button {
        display: block;
      }
    }

    @media (min-width: 601px) {
      .drawer-button {
        display: none;
      }
    }